<div class="m-module m-module-2 f-fr">
	<div class="header">警民互动</div>

	<div class="itemWrap">
		<div class="u-sina">
			<iframe width="100%" height="276" class="share_self" frameborder="0"
				scrolling="no"
				src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=1&ptype=1&speed=0&skin=1&isTitle=1&noborder=0&isWeibo=1&isFans=0&uid=2050143987&verifier=bcd1748b&dpc=1"></iframe>
		</div>
		<div class="u-wechat">
			<div class="title">
				<i class="ic-wechat"></i>微信
			</div>
			<div class="content">
				<img src="" alt="二维码" class="qrcode" />
				<p class="tips">
					扫描左侧二维码<br />关注玉树公安局官方<br />微信
				</p>
			</div>
		</div>
		<div class="satiSurvey">点击参与满意度调查</div>
	</div>
</div>